body {
  width: 100%;
  margin: 0;
  padding: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
  background: white;
}
#connectingDiv {
  display: block;
  text-align: center;
  font: 5vmin Arial;
  margin-top: 8vh;
}
#joinDiv {
  display: none;
  text-align: center;
  font: 5vmin Arial;
  margin-top: 8vh;
}
#idInput {
  font: 10vmin Arial;
  text-align: center;
}
#joinButton{
  font: 10vmin Arial;
  text-align: center;
}
#waitDiv {
  display: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font: 10vmin Arial;
  margin-top: 8vh;
}
.instructionsDiv {
  display: none;
  width: 90vw;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;    
  text-align: left;
  font: 2vmin Arial; 
}
#quizDiv {
  display: none;
  width: 90vw;
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;    
  text-align: left;
  font: 2vmin Arial; 
}
#quizDialogParagraph {
  margin-top: 0;
}
.quizQuestionDiv {
  margin-bottom: 1.5vh;
  margin-top: 1.5vh;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
#submitQuizButton {
  font: 2.5vmin Arial; 
}
#interfaceDiv {
  display: none;
  margin-left: auto;
  margin-right: auto;  
  border: 0;
  padding: 0;
}
#tablesDiv {
  display: none;
  position: absolute;
  width: 100vw;
  height: 50vh;
  text-align: center;
  font: 10min Arial;
  padding-top: 10vh;
}
#completeDiv {
  display: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font: 3vw Arial;
  margin-top: 8vh;
}
